#root .root {
    position: absolute;
    height: 100%;
    width: 100%;
}

#root .root .ui.segment.pushable {
    border: 0px;
    border-radius: 0px;

}

[class*='icon-'] {
    width: 28.32px;
    height: 24px;
    fill: white;
}
